{erl_opts, [debug_info]}

.
{relx,
 [{release, {hello_world, "1.0.0"}, [hello_world]},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {dev_mode, false},
  {include_erts, false}]}

.
{plugins, [{rebar_calzone, "1.0.1"}]}

.
{rebar_calzone, [{mode, escript}]}

.
{escript_main_app, hello_world} % specify which app is the escript app

.
{escript_name, hell_world} % name of final generated escript

.
{escript_incl_apps,
 [inets, ssl]} % apps (other than the main one and its deps) to be included

.
